html{
  font-size: 1rem;
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

*::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  background-color: #e4e4e463;
  border-radius: .5rem;
}
*::-webkit-scrollbar-thumb{
  background-color: #076a75a3;
  border-radius: .5rem;
}

*::-webkit-scrollbar-thumb:hover{
  background-color: #075d67;
}

body{
  margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  width: 100%;
}

.App{
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.quoteBox{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 28%, rgba(237,237,237,1) 59%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(28%, rgba(246,246,246,1)), color-stop(59%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 28%, rgba(237,237,237,1) 59%, rgba(237,237,237,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 28%, rgba(237,237,237,1) 59%, rgba(237,237,237,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 28%, rgba(237,237,237,1) 59%, rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 28%, rgba(237,237,237,1) 59%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  width: 85%;
  max-width: 60rem;
  max-height: 38rem;
  min-height: 18rem;
  padding-bottom: 6.5rem;
  padding-top: 1.5rem;
  padding: 1.5rem 1rem 6.5rem 0rem;
  display: inline-block;
  border-radius: 2rem;
  border: solid 3px #252525cb;
  text-align: left;
  box-shadow: 0px 10px 15px #252525cb;
}

.quoteBox div{
  position: relative;
  overflow-x: hidden;
  max-height: 30rem;
  min-height: 8rem;
  padding: 0rem 2rem 0rem 6rem;
}

.quote2{
  display: none;
}

.quoteBox span{
  position: absolute;
  left: 2rem;
  top: -.5rem;
  font-size: 6rem;
}

.quoteBox h3{
  margin-left: 3rem;
}

.quoteButton{
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: solid 3px #252525cb;
  font-size: 4rem;
  color: rgb(254, 254, 237);
  box-shadow: 0px 10px 15px #252525;
  cursor: pointer;
}

.quoteButton:hover{
  width: 5rem;
  height: 5rem;
}

@media (max-width: 400px) {
  .quoteBox{
    padding: 1.5rem 1rem 6.5rem 1.5rem;
    max-height: 38rem;
  }

  .quoteBox div{
    padding: 0rem 1rem 0rem 1rem;
    overflow-x: hidden;
    max-height: 30rem;
  }

  .quote2{
    display: block;
  }
  .quote1{
    display: none;
  }
}